body {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
}

.wrapper {
  font-weight: 500;
}

.inner {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
}

.heading {
  text-align: center;
}

.heading__title {
  color: #1e3a5f;
  font-size: 30px;
  font-weight: 600;
}

.heading__text {
  margin-top: 20px;
  color: #4b5563;
}

.fade-in-up {
  opacity: 0;
  -webkit-transform: translateY(24px);
          transform: translateY(24px);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}
.fade-in-up.is-in-view {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

.header {
  color: #1e3a5f;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;
  z-index: 100;
}

.header__inner {
  height: 64px;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.header-image {
  padding-top: 1px;
}
.header-image img {
  width: 28px;
  color: #1e3a5f;
}

.header-title a {
  font-size: 20px;
  font-weight: 900;
  font-family: "Noto Serif JP", serif;
}

.header__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .header__link:hover {
    opacity: 0.7;
  }
}

.drawer-icon {
  width: 36px;
  height: 19px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .drawer-icon {
    display: none;
  }
}

.drawer-icon__ber {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 3px;
  border-radius: 6px;
  background-color: #1e3a5f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.drawer-icon__ber:nth-of-type(1) {
  top: 0;
}
.drawer-icon__ber:nth-of-type(2) {
  top: 9px;
}
.drawer-icon__ber:nth-of-type(3) {
  top: 18px;
}

.is-checked .drawer-icon__ber:nth-child(1), .is-checked .drawer-icon__ber:nth-child(3) {
  top: 13px;
}
.is-checked .drawer-icon__ber:nth-child(1) {
  -webkit-transform: rotate(44.904deg);
          transform: rotate(44.904deg);
}
.is-checked .drawer-icon__ber:nth-child(3) {
  -webkit-transform: rotate(-44.904deg);
          transform: rotate(-44.904deg);
}
.is-checked .drawer-icon__ber:nth-child(2) {
  display: none;
}

.drawer-content {
  background: #1e3a5f;
  opacity: 0.98;
  color: #fff;
  width: 100%;
  height: calc(100% - 63px);
  position: fixed;
  top: 63px;
  z-index: 99;
  padding-right: 75px;
  padding-block: 70px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.drawer-content.is-checked {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.drawer__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  text-align: center;
}

.fv__inner {
  height: 500px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fv__image {
  z-index: 1;
  position: relative;
  height: 500px;
}
.fv__image::before {
  content: "";
  position: absolute;
  background-color: #1e3a5f;
  top: 64px;
  left: 0;
  height: 500px;
  width: 100%;
  z-index: 2;
  opacity: 0.6;
}

.fv__image-item {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100% - 64px);
  -webkit-animation: img-change 15s infinite;
          animation: img-change 15s infinite;
}
.fv__image-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fv__image-item:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.fv__image-item:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.fv__image-item:nth-child(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@-webkit-keyframes img-change {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes img-change {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.fv__content {
  position: absolute;
  top: 52%;
  left: 37%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  color: #fff;
}

.fv__title {
  font-size: 28px;
  font-weight: 600;
  text-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
  font-family: "Noto Serif JP", serif;
}
@media screen and (min-width: 768px) {
  .fv__title {
    font-size: 30px;
  }
}

.fv__text {
  margin-top: 20px;
  font-size: 14px;
}

.br-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .br-pc {
    display: inline;
  }
}

.service {
  background-color: #f9fafb;
}

.service__inner {
  padding-block: 60px;
}

.service__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .service__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .service__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.service__card-item {
  background: #fff;
  padding: 32px;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-box-shadow 0.1s;
  transition: -webkit-box-shadow 0.1s;
  transition: box-shadow 0.1s;
  transition: box-shadow 0.1s, -webkit-box-shadow 0.1s;
  max-width: 100%;
}
.service__card-item:hover {
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.service__card-image {
  background: #1e3a5f;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service__card-image img {
  width: 30px;
  -webkit-filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
          filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}

.service__card-title {
  color: #1e3a5f;
  font-size: 16px;
  font-weight: 700;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .service__card-title {
    font-size: 20px;
  }
}

.service__card-text {
  color: #4b5563;
  margin-top: 16px;
}

.feature__inner {
  padding-block: 60px;
}

.feature__content {
  display: grid;
  gap: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature__content {
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.feature__content-item {
  margin-top: 40px;
  padding-inline: 10px;
}
.feature__content-image {
  background: #1e3a5f;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}
.feature__content-image img {
  width: 40px;
  -webkit-filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
          filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}

.feature__content-title {
  font-size: 20px;
  font-weight: 700;
  color: #1e3a5f;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .feature__content-title {
    font-size: 24px;
  }
}

.feature__content-text {
  color: #4b5563;
  margin-top: 16px;
}

.works {
  background: #f9fafb;
}

.works__inner {
  padding-block: 60px;
}

.works__content {
  margin-top: 30px;
  display: grid;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .works__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .works__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.works__content-item {
  border-radius: 8px;
  overflow: hidden;
}
.works__content-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.works__content-item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.profile__inner {
  padding-block: 60px;
}

.profile__table {
  margin-top: 40px;
}

.table__content {
  margin-top: 30px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1);
}

.table__item {
  display: block;
  border-bottom: 1px solid #e5e7eb;
}
@media screen and (min-width: 768px) {
  .table__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

th,
td {
  text-align: left;
  font-size: 15px;
  line-height: 1.6;
  display: block;
  width: 100%;
}

th {
  font-weight: bold;
  color: #333;
  background-color: #1e3a5f;
  color: #fff;
  padding: 12px;
}
@media screen and (min-width: 768px) {
  th {
    width: 25%;
    padding: 18px 15px;
  }
}

td {
  color: #555;
  padding: 12px;
}
@media screen and (min-width: 768px) {
  td {
    width: 75%;
    padding: 18px 15px;
  }
}

.recruit {
  background-color: #f9fafb;
}

.recruit__inner {
  padding-block: 60px;
}

.recruit__content {
  display: grid;
  gap: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .recruit__content {
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.recruit__content-item {
  margin-top: 40px;
  padding-inline: 10px;
}
.recruit__content-image {
  background: #1e3a5f;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}
.recruit__content-image img {
  width: 40px;
  -webkit-filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
          filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}

.recruit__content-title {
  font-size: 20px;
  font-weight: 700;
  color: #1e3a5f;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .recruit__content-title {
    font-size: 24px;
  }
}

.recruit__content-text {
  color: #4b5563;
  margin-top: 16px;
}

.recruit__table {
  margin-top: 40px;
}

.recruit__header {
  background-color: #1e3a5f;
}
.recruit__header th {
  font-size: 20px;
  margin-left: 20px;
}

.recruit__item th {
  color: black;
  background-color: #dcdcdc;
}

.contact {
  padding-block: 60px;
  background-color: #1e3a5f;
}

.contact__heading {
  margin-bottom: 40px;
}

.contact__title {
  color: #fff;
}

.contact__text {
  color: #fff;
}

.contact__content {
  background-color: #fff;
  color: #1e3a5f;
  padding: 20px 8px;
  border-radius: 8px;
  width: 250px;
  max-width: 100%;
  margin: 0 auto;
}

.contact__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__content-image {
  background: #1e3a5f;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 6px;
}
.contact__content-image img {
  width: 20px;
  -webkit-filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
          filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}

.contact__content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.contact__content-text {
  font-size: 18px;
  text-align: center;
}

.contact-wrapper {
  margin: 0 auto;
  margin-top: 40px;
  background-color: #2d4a73;
  padding: 40px 20px;
  border-radius: 8px;
}

.contact-form {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.form-group {
  margin-top: 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
@media screen and (min-width: 768px) {
  .form-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .form-label {
    text-align: right;
    width: 150px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 16px;
  }
}

.badge-required {
  color: red;
  opacity: 0.8;
  font-size: 12px;
}

.form-input,
.form-textarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: black;
}

.form-textarea {
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px;
}

.form-submit {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submit-btn {
  background-color: #fff;
  color: #1e3a5f;
  padding: 10px 50px;
  border-radius: 8px;
}

footer {
  background-color: #0f1f3a;
  color: #fff;
}

.footer__copyright {
  text-align: center;
  padding: 18px;
  font-size: 12px;
}